{% extends "base.html" %}
{% block title %}
    UNIVENT - À propos
{% endblock %}
{% block content %}
    <!-- Header-->
    <header class="py-5">
        <div class="container px-5">
            <div class="row justify-content-center">
                <div class="col-lg-8 col-xxl-6">
                    <div class="text-center my-5">
                        <h1 class="fw-bolder mb-3">Notre mission est de
                            faciliter l'accès aux événements universitaires
                            pour tous.
                        </h1>
                        <p class="lead fw-normal text-muted mb-4">Notre
                            plateforme a été créée sur l'idée que chaque
                            étudiant devrait pouvoir découvrir et participer
                            facilement aux événements universitaires. Utilisez
                            notre service gratuit, ou soutenez-nous en optant
                            pour l'un de nos produits ou services premium.</p>
                        <a class="btn btn-primary btn-lg"
                           href="#scroll-target">Notre histoire</a>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <!-- About section two-->
    <section class="py-5">
        <div class="container px-5 my-5" id="scroll-target">
            <div class="row gx-5 align-items-center">
                <div class="col-lg-6 order-first order-lg-last"><img
                        class="img-fluid rounded mb-5 mb-lg-0"
                        src="static/images/collegues-discutant.jpg"
                        alt="..."/></div>
                <div class="col-lg-6">
                    <h2 class="fw-bolder">Développement et engagement
                    </h2>
                    <p class="lead fw-normal text-muted mb-0">Nous sommes une
                        équipe dévouée de six étudiants universitaires ayant
                        créé ce projet pour soutenir nos associations
                        étudiantes et faciliter l'organisation des événements.
                        Nous croyons au pouvoir des événements pour unir,
                        éduquer et inspirer. Notre but est d'apporter une
                        solution simple et efficace pour les étudiants, par des
                        étudiants, tout en favorisant l'engagement et la
                        croissance au sein de notre communauté
                        universitaire.</p>
                </div>
            </div>
        </div>
    </section>
    <!-- Team members section-->
    <section class="py-5 bg-light">
        <div class="container px-5 my-5">
            <div class="text-center">
                <h2 class="fw-bolder">Notre équipe</h2>
                <p class="lead fw-normal text-muted mb-5">Dédiée à la qualité
                    et à votre succès</p>
            </div>
            <div class="row gx-5 row-cols-1 row-cols-sm-2 row-cols-xl-4 justify-content-center">
                <div class="col mb-5 mb-5 mb-xl-0">
                    <div class="text-center">
                        <img class="img-fluid rounded-circle mb-4 px-4"
                             src="static/images/TeamOussama.jpg"
                             alt="..."/>
                        <h5 class="fw-bolder">Oussama EL-FIGHA</h5>
                        <div class="fst-italic text-muted">Scrum Master;
                            Développeur
                        </div>
                    </div>
                </div>
                <div class="col mb-5 mb-5 mb-xl-0">
                    <div class="text-center">
                        <img class="img-fluid rounded-circle mb-4 px-4"
                             src="https://dummyimage.com/150x150/ced4da/6c757d"
                             alt="..."/>
                        <h5 class="fw-bolder">Adje Kouassi Emmanuel</h5>
                        <div class="fst-italic text-muted">Développeur; RAQ
                        </div>
                    </div>
                </div>
                <div class="col mb-5 mb-5 mb-xl-0">
                    <div class="text-center">
                        <img class="img-fluid rounded-circle mb-4 px-4"
                             src="https://dummyimage.com/150x150/ced4da/6c757d"
                             alt="..."/>
                        <h5 class="fw-bolder">Nicolas Plante</h5>
                        <div class="fst-italic text-muted">Développeur; CMDB
                        </div>
                    </div>
                </div>
                <div class="col mb-5 mb-5 mb-xl-0">
                    <div class="text-center">
                        <img class="img-fluid rounded-circle mb-4 px-4"
                             src="https://dummyimage.com/150x150/ced4da/6c757d"
                             alt="..."/>
                        <h5 class="fw-bolder">Neil Ridene</h5>
                        <div class="fst-italic text-muted">Développeur; SPOC
                        </div>
                    </div>
                </div>
                <div class="col mb-5 mb-5 mb-sm-0">
                    <div class="text-center">
                        <img class="img-fluid rounded-circle mb-4 px-4"
                             src="https://dummyimage.com/150x150/ced4da/6c757d"
                             alt="..."/>
                        <h5 class="fw-bolder">Djaha Hermann</h5>
                        <div class="fst-italic text-muted">Développeur; UX/UI
                            Designer
                        </div>
                    </div>
                </div>
                <div class="col mb-5">
                    <div class="text-center">
                        <img class="img-fluid rounded-circle mb-4 px-4"
                             src="https://dummyimage.com/150x150/ced4da/6c757d"
                             alt="..."/>
                        <h5 class="fw-bolder">Keven Jude Anténor</h5>
                        <div class="fst-italic text-muted">Développeur;
                            Rédacteur technique
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}