{% extends "base.html" %}
{% block title %}
    UNIVENT - Détails de l'événement
{% endblock %}
{% block content %}
    <!-- Page content-->
    <div class="container">
        <h1>Détails de l'événement</h1>
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">{{ event_info.title }}</h5>
                <p class="card-text">Date et heure de début
                    : {{ event_info.start_date_time }}</p>
                <p class="card-text">Date et heure de fin
                    : {{ event_info.end_date_time }}</p>
                <p class="card-text">Lieu : {{ event_info.location }}</p>
                <p class="card-text">Description
                    : {{ event_info.description }}</p>
                <p class="card-text">Nombre maximum d'inscriptions
                    : {{ event_info.max_registration }}</p>
                {% if event_info.flyer_image_url %}
                    <img src="{{ url_for('static', filename='db/flyerImages/' + event_info.flyer_image_url) }}"
                         alt="Flyer de l'événement" class="img-fluid">
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}
