{% extends "base.html" %}
{% block title %}
    UNIVENT - FAQ
{% endblock %}
{% block content %}
    <!-- Page Content-->
    <section class="py-5">
        <div class="container px-5 my-5">
            <div class="text-center mb-5">
                <h1 class="fw-bolder">Foire aux questions</h1>
                <p class="lead fw-normal text-muted mb-0">Comment pouvons-nous
                    vous aider ?
                </p>
            </div>
            <div class="row gx-5">
                <div class="col-xl-8">
                    <!-- FAQ Accordion 1-->
                    <h2 class="fw-bolder mb-3">Compte</h2>
                    <div class="accordion mb-5" id="accordionExample">
                        <div class="accordion-item">
                            <h3 class="accordion-header" id="headingOne">
                                <button class="accordion-button" type="button"
                                        data-bs-toggle="collapse"
                                        data-bs-target="#collapseOne"
                                        aria-expanded="true"
                                        aria-controls="collapseOne">Comment
                                    créer un compte ?
                                </button>
                            </h3>
                            <div class="accordion-collapse collapse show"
                                 id="collapseOne" aria-labelledby="headingOne"
                                 data-bs-parent="#accordionExample">
                                <div class="accordion-body">
                                    <strong>Pour créer un compte,</strong>
                                    cliquez sur "Créer"
                                    dans la barre de navigation ou cliquer sur
                                    le bouton "Commencer" de notre page
                                    d'accueil. Suivez les instructions pour
                                    entrer le détail de votre évènement.
                                </div>
                            </div>
                        </div>
                        <div class="accordion-item">
                            <h3 class="accordion-header" id="headingTwo">
                                <button class="accordion-button collapsed"
                                        type="button" data-bs-toggle="collapse"
                                        data-bs-target="#collapseTwo"
                                        aria-expanded="false"
                                        aria-controls="collapseTwo">Mes
                                    informations sont-elles sécurisées ?
                                </button>
                            </h3>
                            <div class="accordion-collapse collapse"
                                 id="collapseTwo" aria-labelledby="headingTwo"
                                 data-bs-parent="#accordionExample">
                                <div class="accordion-body">
                                    <strong>La sécurité de vos informations est
                                        notre
                                        priorité.</strong>
                                    Nous utilisons un cryptage avancé
                                    pour protéger vos informations personnelles
                                    et vos détails de paiement. Vos
                                    informations ne seront jamais partagées
                                    avec des tiers sans votre permission.
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- FAQ Accordion 2-->
                    <h2 class="fw-bolder mb-3">Problèmes du site web
                    </h2>
                    <div class="accordion mb-5 mb-xl-0" id="accordionExample2">
                        <div class="accordion-item">
                            <h3 class="accordion-header" id="headingOne">
                                <button class="accordion-button" type="button"
                                        data-bs-toggle="collapse"
                                        data-bs-target="#collapseOne2"
                                        aria-expanded="true"
                                        aria-controls="collapseOne2">Pourquoi
                                    je n'arrive pas à me connecter à mon compte
                                    ?
                                </button>
                            </h3>
                            <div class="accordion-collapse collapse show"
                                 id="collapseOne2" aria-labelledby="headingOne"
                                 data-bs-parent="#accordionExample2">
                                <div class="accordion-body">
                                    Si vous rencontrez des problèmes de
                                    connexion à votre compte, assurez-vous
                                    d'abord que votre nom d'utilisateur et
                                    votre mot de passe sont corrects. Si le
                                    problème persiste, veuillez contacter notre
                                    support client.
                                </div>
                            </div>
                        </div>
                        <div class="accordion-item">
                            <h3 class="accordion-header" id="headingTwo">
                                <button class="accordion-button collapsed"
                                        type="button" data-bs-toggle="collapse"
                                        data-bs-target="#collapseTwo2"
                                        aria-expanded="false"
                                        aria-controls="collapseTwo2">Le site
                                    web ne s'affiche pas correctement, que
                                    dois-je faire ?
                                </button>
                            </h3>
                            <div class="accordion-collapse collapse"
                                 id="collapseTwo2" aria-labelledby="headingTwo"
                                 data-bs-parent="#accordionExample2">
                                <div class="accordion-body">
                                    Si notre site web ne s'affiche pas
                                    correctement, essayez de rafraîchir la page
                                    ou d'effacer le cache de votre navigateur.
                                    Si le problème persiste, vérifiez si votre
                                    navigateur est à jour. Notre site est
                                    optimisé pour les dernières versions de
                                    Chrome, Firefox, Safari et Edge.
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-4">
                    <div class="card border-0 bg-light mt-xl-5">
                        <div class="card-body p-4 py-lg-5">
                            <div class="d-flex align-items-center justify-content-center">
                                <div class="text-center">
                                    <div class="h6 fw-bolder">Vous avez
                                        d'autres questions ?
                                    </div>
                                    <p class="text-muted mb-4">
                                        Contactez-nous à l'adresse suivante
                                        <br/>
                                        <a href="#!">support@univent.com</a>
                                    </p>
                                    <div class="h6 fw-bolder">suivez nous:
                                    </div>
                                    <a class="fs-5 px-2 link-dark" href="#!"><i
                                            class="bi-twitter"></i></a>
                                    <a class="fs-5 px-2 link-dark" href="#!"><i
                                            class="bi-facebook"></i></a>
                                    <a class="fs-5 px-2 link-dark" href="#!"><i
                                            class="bi-linkedin"></i></a>
                                    <a class="fs-5 px-2 link-dark" href="#!"><i
                                            class="bi-youtube"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
